# coding: utf-8

# プロジェクトディレクトリへのパス
@path = "<%= node[:sinatra][:app_dir]+node[:project][:name] %>"
@log  = "<%= node[:sinatra][:log_dir] %>"

worker_processes 1 # CPUのコア数に揃える
working_directory @path
timeout 300
listen '/tmp/unicorn.sock' # Nginxのconfig内にあるupstreamで、このパスを指定
pid "#{@path}/tmp/pids/unicorn.pid" # pidを保存するファイル
# logを保存するファイル
stderr_path "#{@log}/unicorn.stderr.log"
stdout_path "#{@log}/unicorn.stdout.log"
preload_app true
