upstream unicorn {
  server unix:/tmp/unicorn.sock
  fail_timeout=0;
}

server {
    listen <%= node['nginx']['port'] %>;
    server_name <%= node['nginx']['server_name'] %>;
    root <%= node['nginx']['root'] %>;
    keepalive_timeout 5;
    location / {
      try_files $uri @app;
    }

    location @app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
            proxy_pass http://unicorn;
            break;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root <%= node['nginx']['root'] %>;
    }
}
